.Header {
  background-color: #29ccbc;
  border-top: 2px solid lightgrey;
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
}

.HeaderInside {
  background-color: #29ccbc;
  box-sizing: border-box;
  max-width: 2000px;
  margin: auto;
  padding: 5px;

  display: flex;
}
.Header h1 {
  font-size: xx-large;
}
.Header p {
  color: grey;
  font-size: x-large;
  text-align: justify;
}

.restoLogo img {
  margin-left: 20px;
  height: 200px;
  border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .HeaderInside {
    background-color: #29ccbc;
    display: flex;
    flex-direction: column-reverse;
  }
  .Header h1 {
    font-size: medium;
  }
  .Header p {
    color: grey;
    font-size: small;
    text-align: justify;
  }
  .restoLogo img {
    width: 100%;
    margin-left: 0px;
    border-radius: 0px;
  }
}

/* Large smartphones and tablets */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .HeaderInside {
    background-color: #29ccbc;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 10px;
  }
  .restoLogo img {
    /* border: 5px dashed pink; */
    margin-left: 20px;
    height: 150px;
    border-radius: 10px;
    margin-left: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Header {
    background-color: #29ccbc;
  }
  .HeaderInside {
    background-color: #29ccbc;
    align-items: center;
    padding: 0px 10px 0px 10px;
    width: 80%;
  }
  .restoLogo img {
    /* border: 5px dashed pink; */
    height: 150px;
    border-radius: 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Header {
    background-color: #29ccbc;
  }
  .HeaderInside {
    /* border: 2px black dashed; */
    width: 80%;
    background-color: #29ccbc;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }
  .restoLogo img {
    /* border: 5px dashed pink; */
    margin-left: 20px;
    min-width: 40%;
    border-radius: 10px;
  }
}
